#### Boston house price prediction

#### Import packages and load data

In [25]:
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense

from common_functions import load_data_from_url, RANDOM_STATE

np.random.seed(RANDOM_STATE)

In [26]:
df = load_data_from_url('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
# drop b column to avoid racial discrimination
df = df.drop('b', axis=1)
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

Variables in order:
- CRIM:     per capita crime rate by town
- ZN:       proportion of residential land zoned for lots over 25,000 sq.ft.
- INDUS:    proportion of non-retail business acres per town
- CHAS:     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
- NOX:      nitric oxides concentration (parts per 10 million)
- RM:       average number of rooms per dwelling
- AGE:      proportion of owner-occupied units built prior to 1940
- DIS:      weighted distances to five Boston employment centres
- RAD:      index of accessibility to radial highways
- TAX:      full-value property-tax rate per $10,000
- PTRATIO:  pupil-teacher ratio by town
- LSTAT:    % lower status of the population
- **MEDV**:     Median value of owner-occupied homes in $1000's

#### Use the model

In [27]:
# Exploratory Data Analysis
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

In [28]:
# Preparing the data for the model
X = df.drop('medv', axis=1).values
y = df['medv'].values

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=RANDOM_STATE)

# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Build the model
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(64, activation='relu'))
model.add(Dense(1))

# Compile and train the model
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(X_train, y_train, epochs=50, batch_size=32)

# Evaluate the model
loss = model.evaluate(X_test, y_test)
print('Test Loss: ', loss)

Epoch 1/50
13/13 [==============================] - 0s 628us/step - loss: 595.4626
Epoch 2/50
13/13 [==============================] - 0s 642us/step - loss: 551.0532
Epoch 3/50
13/13 [==============================] - 0s 625us/step - loss: 498.1249
Epoch 4/50
13/13 [==============================] - 0s 646us/step - loss: 424.6652
Epoch 5/50
13/13 [==============================] - 0s 864us/step - loss: 329.0510
Epoch 6/50
13/13 [==============================] - 0s 590us/step - loss: 219.0923
Epoch 7/50
13/13 [==============================] - 0s 688us/step - loss: 127.5217
Epoch 8/50
13/13 [==============================] - 0s 720us/step - loss: 76.8722
Epoch 9/50
13/13 [==============================] - 0s 552us/step - loss: 57.2247
Epoch 10/50
13/13 [==============================] - 0s 687us/step - loss: 42.7837
Epoch 11/50
13/13 [==============================] - 0s 610us/step - loss: 34.5557
Epoch 12/50
13/13 [==============================] - 0s 627us/step - loss: 29.0118
Epoch 13/50
13/13 [==============================] - 0s 650us/step - loss: 26.0663
Epoch 14/50
13/13 [==============================] - 0s 640us/step - loss: 23.9389
Epoch 15/50
13/13 [==============================] - 0s 625us/step - loss: 22.3851
Epoch 16/50
13/13 [==============================] - 0s 708us/step - loss: 21.3870
Epoch 17/50
13/13 [==============================] - 0s 764us/step - loss: 20.0805
Epoch 18/50
13/13 [==============================] - 0s 619us/step - loss: 19.2296
Epoch 19/50
13/13 [==============================] - 0s 716us/step - loss: 18.3043
Epoch 20/50
13/13 [==============================] - 0s 702us/step - loss: 17.7502
Epoch 21/50
13/13 [==============================] - 0s 718us/step - loss: 17.1110
Epoch 22/50
13/13 [==============================] - 0s 665us/step - loss: 16.4451
Epoch 23/50
13/13 [==============================] - 0s 661us/step - loss: 15.9661
Epoch 24/50
13/13 [==============================] - 0s 1ms/step - loss: 15.4539
Epoch 25/50
13/13 [==============================] - 0s 1ms/step - loss: 15.0586
Epoch 26/50
13/13 [==============================] - 0s 1ms/step - loss: 14.6780
Epoch 27/50
13/13 [==============================] - 0s 868us/step - loss: 14.4304
Epoch 28/50
13/13 [==============================] - 0s 620us/step - loss: 14.3215
Epoch 29/50
13/13 [==============================] - 0s 723us/step - loss: 13.6809
Epoch 30/50
13/13 [==============================] - 0s 688us/step - loss: 13.6375
Epoch 31/50
13/13 [==============================] - 0s 724us/step - loss: 13.2894
Epoch 32/50
13/13 [==============================] - 0s 627us/step - loss: 13.0809
Epoch 33/50
13/13 [==============================] - 0s 606us/step - loss: 12.8365
Epoch 34/50
13/13 [==============================] - 0s 713us/step - loss: 12.6993
Epoch 35/50
13/13 [==============================] - 0s 659us/step - loss: 12.5172
Epoch 36/50
13/13 [==============================] - 0s 688us/step - loss: 12.4478
Epoch 37/50
13/13 [==============================] - 0s 735us/step - loss: 12.2440
Epoch 38/50
13/13 [==============================] - 0s 636us/step - loss: 12.0819
Epoch 39/50
13/13 [==============================] - 0s 702us/step - loss: 11.9120
Epoch 40/50
13/13 [==============================] - 0s 701us/step - loss: 11.8209
Epoch 41/50
13/13 [==============================] - 0s 624us/step - loss: 11.7661
Epoch 42/50
13/13 [==============================] - 0s 629us/step - loss: 11.4906
Epoch 43/50
13/13 [==============================] - 0s 642us/step - loss: 11.4365
Epoch 44/50
13/13 [==============================] - 0s 673us/step - loss: 11.3208
Epoch 45/50
13/13 [==============================] - 0s 711us/step - loss: 11.1931
Epoch 46/50
13/13 [==============================] - 0s 731us/step - loss: 11.2437
Epoch 47/50
13/13 [==============================] - 0s 731us/step - loss: 10.9884
Epoch 48/50
13/13 [==============================] - 0s 634us/step - loss: 10.9395
Epoch 49/50
13/13 [==============================] - 0s 634us/step - loss: 10.7764
Epoch 50/50
13/13 [==============================] - 0s 615us/step - loss: 10.6901
4/4 [==============================] - 0s 895us/step - loss: 12.0983
Test Loss:  12.098302841186523

In [31]:
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

metrics = {
    'Metric': ['Mean Squared Error', 'Root Mean Squared Error', 'Mean Absolute Error', 'R2 Score'],
    'Value': [mse, rmse, mae, r2],
    'Best Value': [0, 0, 0, 1],
    'Worst Value': ['inf', 'inf', 'inf', 0]
}
pd.DataFrame(metrics)

4/4 [==============================] - 0s 836us/step

                    Metric      Value  Best Value Worst Value
0       Mean Squared Error  12.098304           0         inf
1  Root Mean Squared Error   3.478262           0         inf
2      Mean Absolute Error   2.292101           0         inf
3                 R2 Score   0.835024           1           0

#### Prediction for a custom input

In [30]:
# Predict the price of a new house
new_house = {
	'crim': 0.03,
	'zn': 0.0,
	'indus': 7.07,
	'chas': 0.0,
	'nox': 0.469,
	'rm': 6.421,
	'age': 78.9,
	'dis': 4.9671,
	'rad': 2.0,
	'tax': 242.0,
	'ptratio': 17.8,
	'lstat': 9.14,
}

new_house_df = pd.DataFrame([new_house])

new_house_scaled = sc.transform(new_house_df)
new_house_pred = model.predict(new_house_scaled)
price_1000s = new_house_pred[0][0]
price = int(price_1000s * 1000)

print(f"\nThe predicted price for the new house is: $ {price} \n")

1/1 [==============================] - 0s 12ms/step

The predicted price for the new house is: $ 23965

/home/praneeth/.local/lib/python3.10/site-packages/sklearn/base.py:402: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(